body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flexbox;
    padding: 15px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #b4dad3;
    flex-direction: row;
    justify-content: space-evenly;
}

.child-1 {
    width: 200px;
    background-color: white;
    border: 5px solid #1abc9c;
    font-size: 16px;
    color: black;
    margin: 30px 10px;
    padding: 10px;
    text-align: justify;
}

.child-2 {
    width: 30%;
    height: 30%;
    margin : 30px 10px;
}

.vertical-menu {
    width: 250px;
    margin : 30px 5px;
} 
  
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.vertical-menu a:hover {
    background-color: #ccc;
}
  
.vertical-menu a.active {
    background-color: #1abc9c;
    color: white;
}

#postes-t {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#rodape{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: #b1b1b1;
    text-align: center;
    height: 20px;
}

.hd-posts {
    padding: 2px;
    text-align: left;
    background: white;
    color: black;
    font-size: 30px;
}

#dias {
    color: gray;
    font-size: 15px;
}

.posts-img {
    width: 60%;
    height: 60%;
}

